@font-face {
    font-family: SF-Mono-Medium;
    src: url(appleFonts/SF-Mono-Medium.otf);
}
@font-face {
    font-family: SF-Pro-Display-Medium;
    src: url(AppleFonts/SF-Pro-Display-Medium.otf);
}

body{
    margin: 0;
    background-color: darkolivegreen;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-direction: column;
}

#delta_header{
    display: flex;
    margin: 0;
    width: 100vw;
    height: 15vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#delta_header>div{
    width: 40%;
    text-align: center;
}

#delta_header>nav{
    height: 100%;
    width: 60%;
}

#delta_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#delta_nav>ul{
    font-size: 1rem;
}

#delta_ul{
    display: flex;
    flex-direction: row;
}