body{
    margin: 0;
}

#delta_header{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
height: 21vh;
background-color: aqua;
}

#delta_nav{
display: flex;
justify-content: space-between;
align-items: center;
height: 19vh;
}

#delta_menu{

}

#delta_main{
background-color: chocolate;
}

#delta_section_form{

}

#delta_section_img{

}

#delta_form{

}

#delta_footer{
background-color: yellow;
}

.delta_li{

}

#delta_image{

}

#delta_video{

}

.delta_input{

}

#delta_paragraph{

}